._flatos_file_selector_dialog .titlebar {
    border-bottom: 1px solid #fff;
}

._flatos_file_selector_dialog .explorer_shortcuts,
._flatos_file_selector_dialog .explorer_files_list {
    float: left;
    height: 300px;
}

._flatos_file_selector_dialog .explorer_shortcuts {
    width: 200px;
    background-color: #fff;
    border: 1px solid #fff;
    border-left: 0 none;
    border-right-color: #262626;
    border-top: 0 none;
}

._flatos_file_selector_dialog .explorer_files_list {
    width: 396px;
    background-color: #fff;
    overflow: auto;
    border-style: solid;
    border-color: #fff;
    border-left-width: 1px;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-right-width: 0;
    border-left-color: #262626;
}

._flatos_file_selector_dialog table.file_list_table {
    border-collapse: separate;
    max-height: 100%;
    font-size: 14px;
    line-height: 24px;
}

._flatos_file_selector_dialog table.file_list_table,
._flatos_file_selector_dialog table.file_list_table > * {
    width: 100%;
}

._flatos_file_selector_dialog table.file_list_table td {
    padding: 3px 10px;
    border-right: 1px solid #ddd;
    cursor: default;
    font-size: 12px;
}

._flatos_file_selector_dialog table.file_list_table td .flatos_file_icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
}

._flatos_file_selector_dialog table.file_list_table td:last-child {
    border-right: 0px none;
}

._flatos_file_selector_dialog table.file_list_table thead tr td {
    border: 0 none;
    background-color: #262626;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

._flatos_file_selector_dialog table.file_list_table tr.selected {
    background-color: #262626;
    color: #fff;
}

._flatos_file_selector_dialog table.file_list_table tr.selected td {
    border-color: transparent;
}

._flatos_file_selector_dialog div.file_list_wait {
    width: 100%;
    height: 100%;
    cursor: wait;
    line-height: 295px;
    text-align: center;
}

._flatos_file_selector_dialog .explorer_buttons {
    float: left;
    width: 100%;
    padding: 16px 0;
}

._flatos_file_selector_dialog .explorer_buttons > * {
    float: right;
    margin: 0 10px;
}