php_value post_max_size 1024M
php_value upload_max_filesize 1024M

# Follow symbolic links
Options +FollowSymlinks

# Turn URL rewriting on
RewriteEngine on
RewriteBase /flatos/

# VERY IMPORTANT !
# If URL rewriting isn't enabled, there will be some critical security issues.
RewriteRule ^(apps|boot|system/etc|system/lib|system/ui|system32|users)/(.*)$   system/api/rawdatacall.php?type=file&path=/$1/$2 [L,QSA]

# Common media mime types
AddType text/html html
AddType text/css css
AddType text/javascript js

AddType audio/mpeg mp3
AddType audio/mp4 m4a
AddType audio/ogg oga
AddType audio/webm webma
AddType audio/wav wav

AddType video/mp4 mp4
AddType video/mp4 m4v
AddType video/ogg ogv
AddType video/ogg ogg
AddType video/webm webm
AddType video/webm webmv

AddType image/svg+xml svg
AddType image/jpeg jpg
AddType image/png png

AddType text/x-json json
AddType application/x-web-app-manifest+json webapp

#Applications mime types
AddType text/x-json docw