<div class="flatos-connect-user-bg"></div>
<div class="flatos-connect-user-screen" id="flatos-connect-user-connecter">
    <div class="flatos-connect-user-wrapper">
        <span class="flatos-connect-user-choose" />
        <form action="javascript:;" class="flatos-connect-user-form" method="post">
            <div class="grid">
                <div class="g6 -g3">
                    <div class="grid">
                        <div class="g12">
                            <div class="grid flush">
                                <div class="g6 -g3">
                                    <span class="image fit rounded"><img class="flatos-connect-user-avatar flatos-connect-choosen-user" /></span>
                                </div>
                            </div>
                            <div class="grid flush">
                                <div class="g12">
                                    <span class="flatos-connect-user-display-name flatos-connect-choosen-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="g12">
                            <input style="display: none !important" type="hidden" class="flatos-connect-user-id-input" />
                            <input class="flatos-connect-user-password-input" type="password" placeholder="Confirm Your Password" />
                        </div>
                    </div>
                    <div class="grid">
                        <div class="g12">
                            <input class="flatos-connect-user-authenticate" type="button" value="Connect" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="flatos-connect-user-screen" id="flatos-connect-user-chooser">
    <div class="flatos-connect-user-list-wrapper"></div>
</div>