<div id="startscreen" class="animated">
    <div class="content">
        <div class="searchbar">
            <input class="search-entry" placeholder="Search..." size="20" type="text">
        </div>
        <div class="app-zone">
            <div class="shortcuts-wrapper">
                <div class="shortcuts"></div>
            </div>
        </div>
        <div class="scroller">
            <div class="view"></div>
        </div>
        <div class="user-zone">
            <div class="user-zone-desc">
                <span class="image rounded avatar"><img /></span>
                <span class="username"></span>
            </div>
            <div class="user-zone-folders"></div>
            <div class="user-zone-controls">
                <ul>
                    <li class="user-zone-controls-signout">Sign out</li>
                    <li class="user-zone-controls-sleep">Sleep</li>
                    <li class="user-zone-controls-restart">Restart</li>
                    <li class="user-zone-controls-shutdown">Shutdown</li>
                </ul>
            </div>
        </div>
    </div>
</div>