<li class="g4">
    <div class="grid">
        <div class="g12">
            <div class="flatos-connect-user-item">
                <div class="grid flush">
                    <div class="g6 -g3">
                        <span class="image fit rounded"><img class="flatos-connect-user-avatar" /></span>
                    </div>
                </div>
                <div class="grid flush">
                    <div class="g12">
                        <span class="flatos-connect-user-id" style="display: none !important"></span>
                        <span class="flatos-connect-user-display-name"></span>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</li>